@import "tailwindcss";

:root {
  --background: #F5F5F1;
  --foreground: #F5F5F1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F1;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'IBM Plex Mono', monospace;
}


h1,h2,h3,h4 {
  font-family: 'Archivo', sans-serif;
}


